# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
build
dist

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Docker
.docker

# Database
pgdata/
pgadmin/

prototyping/venv/pyvenv.cfg
prototyping/venv/bin/activate
prototyping/venv/bin/activate.csh
prototyping/venv/bin/activate.fish
prototyping/venv/bin/Activate.ps1
prototyping/venv/bin/convert-caffe2-to-onnx
prototyping/venv/bin/convert-onnx-to-caffe2
prototyping/venv/bin/cpuinfo
prototyping/venv/bin/f2py
prototyping/venv/bin/fonttools
prototyping/venv/bin/isympy
prototyping/venv/bin/normalizer
prototyping/venv/bin/pip
prototyping/venv/bin/pip3
prototyping/venv/bin/pip3.11
prototyping/venv/bin/pyftmerge
prototyping/venv/bin/pyftsubset
prototyping/venv/bin/python
prototyping/venv/bin/python3
prototyping/venv/bin/python3.11
prototyping/venv/bin/torchfrtrace
prototyping/venv/bin/torchrun
prototyping/venv/bin/tqdm
prototyping/venv/bin/ttx
prototyping/venv/bin/ultralytics
prototyping/venv/bin/yolo
prototyping/venv/share/man/man1/isympy.1
prototyping/venv/share/man/man1/ttx.1
